
body{
    background-color: cyan;
    text-align: center;
}

#Title99{
    background-color: rgb(255, 0, 0);
    text-transform: uppercase;
    text-shadow: 1px 2px 0px gold;
    border-radius: 20px;
}

button{
    background-color: red;
    border: 5px solid gold;
    padding: 10px 70px;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
}